server {
	listen      80;
	listen      [::]:80;
	root        {{ aptly_home }}/.aptly/public;
	server_name {{ aptly_virtualhost }};

	location /.well-known {
		root /var/www/html/;
		allow all;
	}

	location / {
		autoindex on;
	}
}
