# This file is sourced by /etc/init.d/plexmediaserver
#
# When plexmediaserver is started using the init script
# is started under the account of , as set below.
#
# Each setting is marked either "required" or "optional";
# leaving any required setting unconfigured will cause
# the service to not start.

# [required] user or uid of account to run the program as:
PLEX_MEDIA_SERVER_USER={{plexmediaserver_user_name}}
