[lusoleaves_com]
user = {{lusoleaves_com_user}}
group = {{lusoleaves_com_group}}

listen = /var/run/php5-fpm-{{lusoleaves_com_user}}.sock

listen.owner = www-data
listen.group = www-data
listen.mode = 0660

pm = ondemand

pm.max_children = 50
pm.process_idle_timeout = 10s;
pm.max_requests = 500

request_terminate_timeout = 30s

rlimit_files = 1024

rlimit_core = 0

chdir = /

security.limit_extensions = .php

php_admin_value[error_log] = /var/log/php5-fpm/{{lusoleaves_com_user}}.error.log
php_admin_flag[log_errors] = on 
php_flag[display_errors] = on
catch_workers_output = yes

php_value[output_buffering] = 128
php_value[upload_max_filesize] = 10M
php_value[max_execution_time] = 30
php_value[post_max_size] = 10M
php_value[max_input_time] = 30