upstream php_adaxisoft_be {
    server unix:/var/run/php5-fpm-{{adaxisoft_be_user}}.sock;
}

server {
       listen           80;
       listen           [::]:80;
       server_name      {{adaxisoft_be_domain}} www.{{adaxisoft_be_domain}};
       return           301 https://$server_name$request_uri;
}

map $request_uri $new_uri {
    default     "";
    /blog/?p=5  /blog/2010/02/27/add-google-autocomplete-to-your-website/;
    /blog/?p=12 /blog/2010/02/27/relax-with-rain-and-some-jazz/;
    /blog/?p=19 /blog/2010/03/01/the-father/;
    /blog/?p=25 /blog/2010/09/07/abu-dhabi/;
    /blog/?p=29 /blog/2010/09/09/3eme-jour-a-manille/;
    /blog/?p=31 /blog/2010/09/10/cagayan-de-oro/;
    /blog/?p=39 /blog/2010/09/16/cagayan-de-oro-2/;
    /blog/?p=43 /blog/2010/09/16/davao/;
    /blog/?p=36 /blog/2010/09/16/impalutao/;
    /blog/?p=38 /blog/2010/09/16/malay-balay/;
    /blog/?p=41 /blog/2010/09/16/maramag/;
    /blog/?p=49 /blog/2010/09/20/cebu-city/;
    /blog/?p=47 /blog/2010/09/20/davao-airport/;
    /blog/?p=52 /blog/2010/09/23/tagbilaran/;
    /blog/?p=54 /blog/2010/09/26/loboc/;
    /blog/?p=56 /blog/2010/09/26/manille/;
    /blog/?p=60 /blog/2010/09/28/belgique/;
    /blog/?p=69 /blog/2010/10/23/ovh-configuration-for-addns/;
    /blog/?p=80 /blog/2013/11/03/addns-pl-debian-package/;
}

server {
    listen              443 ssl;
    listen              [::]:443 ssl;
    ssl_certificate     /etc/{{ "ssl-external" if installation_environment == "production" else "selfsigned" }}/live/{{adaxisoft_be_domain}}/fullchain.pem;
    ssl_certificate_key /etc/{{ "ssl-external" if installation_environment == "production" else "selfsigned" }}/live/{{adaxisoft_be_domain}}/privkey.pem;
    keepalive_timeout   70;

    server_name         {{adaxisoft_be_domain}} www.{{adaxisoft_be_domain}};
    root                {{adaxisoft_be_home}};
    access_log          /var/log/nginx/{{adaxisoft_be_domain}}.access.log	combined;
    error_log           /var/log/nginx/{{adaxisoft_be_domain}}.error.log    error;

    if ($new_uri != "") {
        rewrite ^(.*)$ $new_uri permanent;
    }

    location / {
        index           index.html index.php;
    }

    # deny access to .dotfiles files
    location ~ /\. {
        deny            all;
        access_log      off;
        log_not_found   off;
    }

	# Cache image and scripts
	location ~* \.(js|css|png|jpg|jpeg|gif|ico)$ {
        expires         max;
        log_not_found   off;
    }

    location /api {
    	proxy_pass http://unix:/var/run/adaxisoft-api/adaxisoft-api.sock;
    	proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
    }


#   location /blog {
#		index   index.html index.htm index.php;
#		try_files $uri $uri/ /blog/index.php?$args;
#	}

#	location ~ \.php$ {
#		# Prevent Zero-day exploit
#		try_files $uri =404;
#
#		fastcgi_split_path_info ^(.+\.php)(/.+)$;
#		#NOTE: You should have "cgi.fix_pathinfo = 0;" in php.ini
#
#		fastcgi_pass    php_adaxisoft_be;
#		fastcgi_index   index.php;
#		fastcgi_param   SCRIPT_FILENAME $document_root$fastcgi_script_name;
#		include         fastcgi_params;
#	}

	location /keepass {
		root                  /var/dav;
		client_body_temp_path /var/dav/temp;
		dav_methods	          DELETE MOVE PUT;
		create_full_put_path  off;
		dav_access            user:rw;
		autoindex             on;
		auth_basic            "restricted";
		auth_basic_user_file  /etc/nginx/htpasswd;
	}

}
