[Unit]
Description=Bind USB device to usbipd
After=network-online.target usbipd.service
Wants=network-online.target usbipd.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/sbin/modprobe vhci-hcd
ExecStart=/bin/sh -c "host=$(echo %i | cut -f1 -d'_'); host=$(echo %i | cut -f2 -d'_');  /usr/sbin/usbip attach -r $host -b $busid"

[Install]
WantedBy=multi-user.target
