SHELL=/bin/bash
30 4 20 * *	root	/etc/init.d/nginx stop && letsencrypt-auto -d {{ item.domains | join(" -d ") }} -a standalone --agree-dev-preview --agree-tos --email {{item.email}} --server https://acme-v01.api.letsencrypt.org/directory auth --renew-by-default && /etc/init.d/nginx start
